html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color:#010403;
    color: #E4F7F5;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 2em;

    background-color:#35B6A0;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 1.5em;
}

.logo {
    width: 100%;
    max-width: 150px;
}

.nav-item {
    color: #010403;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
}

.hero-section {
    box-sizing: border-box;
    width: 100%;
    background-image: url('/images/article-image.png');
    background-size: cover;
    background-position: center;
    padding: 5.4375em 1.25em 1.5626em;
}

.hero-date {
    font-size: 0.75rem;
    margin: 0 0 1em;
}

.blog-link {
    color: #E4F7F5;
    text-decoration: none;
}

.hero-title {
    font-size: 2rem;
    margin: 0 0 0.25em;
    line-height: 1.35;
}


.hero-desc {
    font-size: 1rem;
    margin: 0;
}

.blogs-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5em;
    padding: 2em 1.25em 3.125em;
}

.blog-image {
    width: 100%;
    object-fit: cover;
}

.blog-date {
    font-size: 0.875rem;
    margin-top: 1em;
}

.blog-title {
    font-size: 1.5rem;
    margin: 0.125em 0;
    color: #35B6A0;
}

.blog-desc {
    font-size: 1rem;
    margin: 0;
}

footer {
    background-color: #35B6A0;
    color: #010403;
    text-align: center;
    padding: 2.25em;
}

.footer-heading {
    font-size: 0.75rem;
    margin: 0 0 0.25em;
}

.copyright-text {
    font-size: 0.75rem;
    margin: 0;
}

/*ARTICLE PAGE STYLING*/
.article-section {
    box-sizing: border-box;
    width: 100%;
    background-position: center;
    padding: 1.5625em 1.25em;
}

.article-date {
    font-size: 0.75rem;
    margin: 0;
}

.article-title {
    font-size: 2rem;
    margin: 0.5em 0;
}

.article-desc, .article-text {
    font-size: 1rem;
    margin-bottom: 2.25em;
}

.article-heading {
    font-size: 1rem;
    font-weight: bold;
    color: #35B6A0;
}

.article-image {
    width: 100%;
    border-radius: 5px;
}

.recent-posts-section-heading {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}

/*ABOUT ME */
.about-section {
    padding: 1.25em;
    max-width: 600px;
    margin: 0 auto;
}
.avatar {
    width: 40%;
    max-width: 200px;
    border-radius: 50%;
}

.about-heading {
    font-size: 2.25rem;
    line-height: 1.2;
}

.about-bio {
    font-size: 1rem;
    margin-bottom: 3.125em;
}

@media (min-width: 768px) {
    nav {
        padding: 2em 3.3125em;
    }

    .nav-item {
        font-size: 1rem;
    }

    .logo {
        max-width: 250px;
    }

    .hero-section {
        padding: 18em 1.25em 1.5626em;
    }

    .hero-date {
        font-size: 1rem;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .blogs-section {
        grid-template-columns: 1fr 1fr;
    }

    /*ARTICLE SECTION */
    .article-section {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .logo {
        max-width: 350px;
    }

    .blogs-section {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero-title, .hero-desc {
        max-width: 800px;
    }
}